@{
    ViewData["title"] = "Index";
}

<h1>Index de los usuarios </h1>
<div class="row mt-2">
<div class="col">
    <a class="d-flex float-start btn btn-success" asp-controller="Users" asp-action="Create">Create User</a>
    <form class="d-flex float-end"  asp-action="Index" method="post">
        <input type="search" class="form-control me-2" name="search" placeholder="Search"  aria-label="search">
        <button class="btn btn-outline-success" >Search</button>
    </form>
</div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Names</th>
            <th>LastName</th>
            <th>Email</th>
            <th>BirthDate</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Actions</th>
        </tr>
    </thead>
    @foreach(var item in Model){
        <tr>
            <td>@item.Id</td>
            <td>@item.Names</td>
            <td>@item.LastNames</td>
            <td>@item.Email</td>
            <td>@item.BirthDate</td>
            <td>@item.Address</td>
            <td>@item.Phone</td>
            <td><a class="btn btn-sm btn-primary" asp-action="Details" asp-controller="Users" asp-route-id="@item.Id">Details</a>
                <a class="btn btn-sm btn-warning" asp-action="Edit" asp-controller="Users" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-controller="Users" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        
    }
</table>