@{
    ViewData["title"] = "Product Details";
}

<h2>Product Details</h2>
<p>Id: @Model.Id</p>
<p>Name: @Model.Name</p>
<p>Description @Model.Description</p>
<p>Price: @Model.Price</p>
<p>Amount: @Model.Amount</p>
<p>Expiration Date: @Model.ExpirationDate</p>