@{
    ViewData["title"] = "Product Details";
}

<h2>Product Details</h2>
<span>Id: @Model.Id</span>
<span>Name: @Model.Name</span>
<span>Description @Model.Description</span>
<span>Price: @Model.Price</span>
<span>Amount: @Model.Amount</span>
<span>Expiration Date: @Model.ExpirationDate</span>